<div *ngIf="users && users.length > 0" class="users">
    <h2>Users</h2>
    <mat-table [dataSource]="users" class="mat-elevation-z8">
      
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.name }}</mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.email }}</mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.role }}</mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef>Created At</mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.createdAt | date }}</mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <div *ngIf="!users || users.length === 0">
    <p>No users found.</p>
  </div>
  