.booking-list {
    width: fit-content;
    margin: 0 30px;
    margin-left: 50%;
    mat-card {
      margin-top: 20px;
    }
    top: 0;
  }
  
  #mat-badge .pending {
    background-color: #ff9800; /* Orange for pending */
    color: white;
  }
  
  #mat-badge .confirmed {
    background-color: #4caf50; /* Green for confirmed */
    color: white;
  }
  
  #mat-badge .completed {
    background-color: #2196f3; /* Blue for completed */
    color: white;
  }
  
  #mat-badge .cancelled {
    background-color: #f44336; /* Red for cancelled */
    color: white;
  }
  
  button {
    margin-right: 8px;
  }
  
