mat-card {
    max-width: 900px;
    margin: 20px auto;
  }
  
  mat-card-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  