.link-label {
    margin-left: 12px;
  }

  .link{
    text-decoration: none;
    color: rgba(100, 98, 98, 0.87);
  }
  
  .mat-icon {
    margin-right: 12px;
    text-decoration: none;
    color: rgba(100, 98, 98, 0.87);
  }